*{
    padding: 0px;
    margin: 0px;
}

body{
    margin: 0px auto;
}

.container{
    width: 450px;
    height: auto;
    /* background-color: blue; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: auto;
}

h2{
    margin-left: 100px;
    color: darkblue;
    font-size: 30px;
}

h1{
    font-size: 100px;
    margin-left: 210px;
    margin-top: 20px;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.reduce{

    width: 100px;
    height: 35px;
    border: none;
    border-radius: 10px;
    background-color: blueviolet;
    color: white;
    cursor: pointer;
    
}

.reset{
    
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 10px;
    background-color: blueviolet;
    color: white;
    cursor: pointer;
    
}

.add{
    
    width: 100px;
    height: 35px;
    border-radius: 10px;
    border: none;
    background-color: blueviolet;
    color: white;
    cursor: pointer;
    
}

@media screen and (max-width: 800px) {

    .buttons{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 20px;
    }

    
.reduce{

    width: 100px;
    height: 35px;
    border: none;
    border-radius: 10px;
    background-color: blueviolet;
    color: white;
    cursor: pointer;
    margin-left: 180px;
    margin-bottom: 20px;
    
}

.reset{
    
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 10px;
    background-color: blueviolet;
    color: white;
    cursor: pointer;
    margin-left: 180px;
    margin-bottom: 20px;
    
}

.add{
    
    width: 100px;
    height: 35px;
    border-radius: 10px;
    border: none;
    background-color: blueviolet;
    color: white;
    cursor: pointer;
    margin-left: 180px;
    margin-bottom: 20px;
    
}
  
  }